.material-icons {
    font-size: 42px;
    cursor: pointer;
}

.bg-info {
    background-color: #BAE8E8 !important;
}

* {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Young Serif', serif;
}

.current_location {
    padding-bottom: 10px;
    /* not showing padding because of the map height */
}

.container {
    position: relative;
    width: 100%;
    /* max-width: 400px; */
}

.container img {
    width: 100%;
    height: auto;
}

.container .back-btn {
    position: absolute;
    top: 15%;
    left: 12%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    text-align: center;
}

.container .btn:hover {
    background-color: #79dede;
}

.dropdown {
    margin-left: 10px;
}

a {
    text-decoration: none;
}

#current_location {
    margin-top: 10px;
    margin-left: 10px;
}

#search_location {
    margin: 10px !important;
    width: 95%;
}

#change_view {
    margin: 10px !important;
    width: 95%;

}

.card {
    margin: 10px !important;
}

.list_cards {
    display: auto !important;
}

/* move the get-directions button not covered by the footer */
.get-directions {
    margin-bottom: 120px;
}

.btn-save {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 1;
    background-color: red;
    /* Default background color */
    color: white;
    /* Default text color */
}

.reviewing {
    color: black;
}

.date {
    font-size: 1rem;
}

.btn-save.clicked {
    background-color: white;
    /* Updated background color when clicked */
    color: red;
    /* Updated text color when clicked */
}

h3,
h4 {
    color: black;

}

.card-text {
    font-size: 38px;
}

.highlighted {
    font-weight: bold;
    color: #4511d3;

}